*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0 45px;
}

.users {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

#users-list {
    list-style-type: none;
    padding: 0;
}

.user__item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.user__item:hover {
    background-color: #f0f0f0;
}

#user-details {
    margin-top: 20px;
}

.hidden {
    display: none;
}
